@font-face {
    font-family: 'Megogo';
    src: url('../fonts/Megogo_Font/TTF_Woff_2_web/regular/Megogo-InterfaceNormal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Megogo';
    src: url('../fonts/Megogo_Font/TTF_Woff_2_web/regular/Megogo-InterfaceDemiBold.ttf') format('truetype');
    font-weight: 600; 
    font-style: normal;
}

@font-face {
    font-family: 'Megogo';
    src: url('../fonts/Megogo_Font/TTF_Woff_2_web/regular/Megogo-InterfaceMedium.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
}

@font-face {
    font-family: 'Megogo';
    src: url('../fonts/Megogo_Font/TTF_Woff_2_web/regular/Megogo-InterfaceRegular.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}